body{
    background-image: url(../img/background.png);
    fill-opacity: 0.5;
}
.img-logo{
    width: 250px;
    height: 50px;
    margin: 5px;
}
.a-custom-header{
    text-decoration: none;
    color: #3f51b5;
}
.a-custom-header:hover{
    color: red;
}
.footer-custom{
    margin-top: 15px;
}
.slide-custom{
    height: 200px;
}
.introduce-home{
    margin-bottom: 50px;
}
.introduce-home2{
    margin-top: 50px;
    margin-bottom: 50px;
}
.card .tabs .tab a{
    color: #3f51b5;
} /*Black color to the text*/

.card .tabs .tab a:hover {
    background-color:#fdfdfffd;
    color: #3f51b5;
} /*Text color on hover*/

.card .tabs .tab a.active {
    background-color:#f6f6f6f5;
    color: #3f51b5;
} /*Background and text color when a tab is active*/

.card .tabs .indicator {
    background-color: #3f51b5;
} /*Color of underline*/
.img-student-gv{
    max-width: 400px;
    height: 300px;
    border-radius: 5px;
}
.content-student-gv{
    margin-top: 15px;
    margin-bottom: 30px;
}
.content-student-cs{
    margin-top: 30px;
    margin-bottom: 50px;
}
.form-custom{
    max-width: 350px;
    border: solid rgb(255, 255, 255) 1px;
    background-color: aliceblue;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.alert-custom{
    margin-top: 100px;
    max-width: 350px;
}
.alert-custom-register{
    margin-top: 100px;
}
.alert{
    animation: alert;
    animation-duration: 1s;
}
@keyframes alert{
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}
.button-dangky{
    margin-top: 15px;
}
.form-custom-register{
    border: solid rgb(255, 255, 255) 1px;
    background-color: aliceblue;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.or-custom{
    margin-top: 30px;
}

.list-li {
    position: relative;
    margin: 20px;
}

.list-li::before{
    content: '';
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: white;
}

/* .actived::before{
    content: '';
    position: absolute;
    background-color: azure;
    width: 3px;
} */

/* .list-li a.actived::before{
    content: '';
    position: absolute;
    bottom: 0;
    height: 3px;
    width: 0;
    background-color: white;
}
.list-li a.actived:hover::before{
    width: 45%;
    transition: 0.5s;
} */
.list-li:hover::before{
    width: 100%;
    transition: 0.5s;
}
/* .list-li a.actived::before{
    bottom: 0;
    height: 3px;
    width: 100%;
    background-color: white;
} */
a.actived::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: white;

}
.icon-admin{
    margin-bottom: 50px;
    margin-top: 50px;
}
.logout-admin{
   margin-left: 20px;
   margin-right: 20px;
   margin-top: 50px;
   margin-bottom: 50px;
}